* {margin: 0; padding: 0;}
ol,ul {list-style: none;}

/* Setting */

#setting {
  background: rgba(230, 215, 210, 0.8);
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#setting.slide-up {
  height: 30px;
  background-color: rgba(0, 0, 0, 1);
}

#setting.slide-up ol {
  display: none;
}

#setting.slide-up i {
  color: white;
}

#setting header {
  width: 20%;
  height: 300px;
  text-align: center;
  float: left;
}

#setting ol {
  float: right;
  width: 80%;
}

#setting ol li h3 {
  float: left;

  width: 20%;
}

#setting ol li ul {
  float: left;

  width: 80%;
}

#setting ul li {
  display: inline;
}

#setting i {
  position: absolute;
  right: 5px;
  bottom: 0;
  font-size: 28px;
}

#iPhone35 img {
  width: 64px;
  height: 96px;
}

#iPhone35 h3 {
  height: 96px;
}

#iPhone4 img {
  width: 64px;
  height: 115.6px;
}

#iPhone4 h3 {
  height: 115.6px;
}

#iPad img{
  width: 204.8px;
  height: 204.8px;
}

#iPad h3 {
  height: 204.8px;
}

/* Setting End */

#preview {
  background:#9de;
}


/* =========================== */
/* CSS Hack */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

