* {margin: 0; padding: 0;}
ol,ul {list-style: none;}
a {text-decoration: none;}

body {
  color: #d8d8d8;
  font-family: 'Open Sans';
  font-weight: 400;
}

/* Header */
header {
  background: #191919;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100px;
}
header h1 {
  color: white;
  font-weight: 700;
  flex: 1 0 auto;
  text-align: center;
}
header h1 sup {
  color: #d8d8d8;
  font-weight: 400;
  text-align: center;
}
header em {
  flex: 1 0 auto;
}
header button {
  flex: 1 0 auto;
  cursor: pointer;
  color: #40CDD5;
  background: none;
  display: block;
  border: 1px solid #40CDD5;
  padding: 10px 0;
  font-weight: 700;
}
header .social{
  flex: 5 0 auto;
}


/* Setting */

#setting {
  background: #191919;
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
}

#setting h2 {
  color: #d8d8d8;
  height: 50px;
  text-align: center;
}

#setting ol {
  float: right;
  width: 80%;
}

#setting ol li h3 {
  color: #9b9b9b;
  float: left;
  width: 20%;
  text-align: right;
  line-height: 100px;
}

#setting ol li ul {
  float: left;

  width: 80%;
}

#setting ul li {
  display: inline;
}

#setting ul li img{
  height: 100px;
  width: 100px;
}

#setting i {
  color: #d8d8d8;
  position: absolute;
  right: 5px;
  bottom: 0;
  font-size: 28px;
}

/* Setting End */

#preview {
  background:#9de;
}

/* preview */
#preview {
  text-align: center;
}

#preview section {
  padding: 50px 0;
}

#preview section img {
  width: 320px;
  height: 480px;
}

#preview nav ul {
  padding-bottom: 20px;
}
#preview nav ul li {
  display: inline;
}

#preview nav ul li a {
  background: #f0f0f0;
  padding: 10px 20px;
  transition: 0.4s ease-out;
}

#preview nav ul li a:hover {
  background: #a0a0a0;
}

/* =========================== */
/* CSS Hack */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

