* {margin: 0; padding: 0;}

#pre_body ul li {
  display: inline;
}

#pre_body {
  padding: 0 10px;
}
/* iPhone */
#pre_body.iPhone {
  margin: 245px 0 0 0px;
  height: 284px;
  width: 1020px;
}

#pre_body.iPhone img {
  width: 200px;
  height: 355px;
}

/* iPad */
#pre_body.iPad {
  margin: 345px 0 0 0px;
  height: 225px;
  width: 1520px;
}

#pre_body.iPad img {
  width: 300px;
  height: 225px;
}


