<header>
  <h1>StoreMock<sup>Beta</sup></h1>
  <em>Preview Screenshots on App Store Faster</em>
  <button data-behavior="show_setting">START</button>
  <div class="social"></div>
</header>

<div id="setting" class="clearfix">
  <em>Drop images to these boxes.</em>
  <ol>
    <li id="iPhone" class="clearfix">
    <h3>4-inch</h3>
    <ul>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
    </ul>
    </li>
    <li id="iPad" class="clearfix">
    <h3>iPad</h3>
    <ul>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
      <li data-behavior="drop_zone"><img src="" alt=""></li>
    </ul>
    </li>
  </ol>
  <i class="fa fa-angle-double-up" data-behavior="hide_setting"></i>
</div>

<div id="preview">
  <section class="iPhone">
    <div class="pre_body">
      <ul>
        <li><img src="http://placehold.it/640x1136" alt=""></li>
        <li><img src="http://placehold.it/640x1136" alt="photo2"></li>
        <li><img src="http://placehold.it/640x1136" alt="photo3"></li>
        <li><img src="http://placehold.it/640x1136" alt="photo4"></li>
        <li><img src="http://placehold.it/640x1136" alt="photo5"></li>
      </ul>
    </div>
  </section>

  <section class="iPad">
    <div class="pre_body">
      <ul>
        <li><img src="http://placehold.it/2048x1536" alt="photo1"></li>
        <li><img src="http://placehold.it/2048x1536" alt="photo2"></li>
        <li><img src="http://placehold.it/2048x1536" alt="photo3"></li>
        <li><img src="http://placehold.it/2048x1536" alt="photo4"></li>
        <li><img src="http://placehold.it/2048x1536" alt="photo5"></li>
      </ul>
    </div>
  </section>

  <section class="mac">
    <h2>Coming soon...</h2>
  </section>

  <section class="web">
    <h2>Coming soon...</h2>
  </section>
</div>

<footer>
  <nav>
    <ul>
      <li><a id="pre_iPhone" href="#pre_iPhone">iPhone</a></li>
      <li><a id="pre_iPad" href="#pre_iPad">iPad</a></li>
      <li><a id="pre_mac" href="#pre_mac">Mac</a></li>
      <li><a id="pre_web" href="#pre_web">Web</a></li>
    </ul>
  </nav>

  <p>
    <a href="http://sumiapp.com/" title="Sumi's Website">Handcrafted by Sumi Interactive</a>
  </p>
</footer>
